<body>
    <!-- Preloader Start -->
   
    <!-- Preloader End -->
    <!-- Back-to-top Start -->
    <a href="javascript:void(0)" class="back-to-top"><i class="fa-solid fa-up-long"></i></a>
    <!-- Back-to-top End -->
    <!-- Header Start !-->
    <div class="navbar-top border-bottom py-3 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <div class="d-flex gap-2">
                        <div class="country">
                            <select name="country" class="form-control" id="country">
                                <option value="UK">
                                    EN
                                </option>
                                <option value="US">
                                    ES
                                </option>
                                <option value="RS">
                                    RS
                                </option>
                            </select>
                        </div>
                        <div class="currency">
                            <select name="currency" class="form-control" id="currency">
                                <option value="USD">
                                    USD
                                </option>
                                <option value="EUR">
                                    EUR
                                </option>
                                <option value="INR">
                                    INR
                                </option>
                            </select>
                        </div>
                        <div class="d-none align-items-center gap-1 nav-top-left">
                            <i class="fa-solid fa-envelope text-dark"></i>
                            <p class="fs-14 text-dark text-truncate">support@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="toggle-theme">
                        <input type="checkbox" id="changeTheme1" class="changeTheme" value="0">
                        <label for="changeTheme1" class="m-auto"></label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex gap-2 nav-btn-group align-items-center justify-content-end">
                        <a href="browse-bid.html" class="bg-transparent text-dark border-0 px-1">
                            <i class="fa-solid fa-search"></i>
                        </a>
                        <a href="login.html" class="bg-transparent text-dark border-0 px-1">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <button class="bg-transparent text-dark border-0"><i class="fa-solid fa-heart"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="bg-white">
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand p-0" href="index.html">
                    <img src="assets/images/logo.svg" id="headerLogo" class="themeLogo img-fluid w-100" alt="logo">
                </a>
                <div class="nav-right justify-content-center" id="navbar">
                    <ul class="navbar-nav position-relative d-none d-lg-flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown-tgl">
                            <a class="nav-link text-dark" href="javascript:void(0)">Auction</a>
                            <ul class="sub-menu">
                                <li><a href="browse-bid.html">browse bid</a></li>
                                <li><a href="bid-detail.html">bid details</a></li>
                                <li><a href="bid-history.html">bid history</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-tgl">
                            <a class="nav-link text-dark" href="javascript:void(0)">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about.html">about</a></li>
                                <li><a href="dashboard.html">dashboard</a></li>
                                <li><a href="winner.html">winner</a></li>
                                <li><a href="checkout.html">checkout</a></li>
                                <li><a href="payment.html">payment</a></li>
                                <li><a href="thankyou.html">Thank You</a></li>
                                <li><a href="faq.html">faq</a></li>
                                <li><a href="privacy.html">Privacy Policy</a></li>
                                <li><a href="404.html">Error</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-tgl">
                            <a class="promotion-link nav-link text-dark new-toggle" href="javascript:void(0)">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-detail.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" href="javascript:void(0)" data-bs-toggle="dropdown"
                                aria-expanded="false">Auction</a>
                            <ul class="sub-menu dropdown-menu">
                                <li><a href="browse-bid.html">browse bid</a></li>
                                <li><a href="bid-detail.html">bid details</a></li>
                                <li><a href="bid-history.html">bid history</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" href="javascript:void(0)" data-bs-toggle="dropdown"
                                aria-expanded="false">Pages</a>
                            <ul class="sub-menu dropdown-menu">
                                <li><a href="about.html">about</a></li>
                                <li><a href="dashboard.html">dashboard</a></li>
                                <li><a href="winner.html">winner</a></li>
                                <li><a href="checkout.html">checkout</a></li>
                                <li><a href="payment.html">payment</a></li>
                                <li><a href="thankyou.html">Thank You</a></li>
                                <li><a href="faq.html">faq</a></li>
                                <li><a href="privacy.html">Privacy Policy</a></li>
                                <li><a href="404.html">Error</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" href="javascript:void(0)" data-bs-toggle="dropdown"
                                aria-expanded="false">Blog</a>
                            <ul class="sub-menu dropdown-menu">
                                <li><a href="blog.html">Blog</a></li>

                                <li><a href="blog-detail.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="contact.html">Contact</a>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex justify-content-center gap-2">
                                <div class="select">
                                    <button class="selectBtn" data-type="country">country</button>
                                    <div class="selectDropdown">
                                        <div class="option" data-type="UK">EN</div>
                                        <div class="option" data-type="US">ES</div>
                                        <div class="option" data-type="RS">RS</div>
                                    </div>
                                </div>
                                <div class="select">
                                    <button class="selectBtn" data-type="currency">currency</button>
                                    <div class="selectDropdown">
                                        <div class="option" data-type="USD">USD</div>
                                        <div class="option" data-type="EUR">EUR</div>
                                        <div class="option" data-type="INR">INR</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex gap-2 nav-btn-group align-items-center justify-content-center">
                                <button class="bg-transparent text-dark border-0">
                                    <i class="fa-solid fa-search"></i>
                                </button>
                                <a href="login.html" class="bg-transparent text-dark border-0 px-1">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <button class="bg-transparent text-dark border-0"><i
                                        class="fa-solid fa-heart"></i></button>
                            </div>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="toggle-theme">
                                <input type="checkbox" class="changeTheme" id="changeTheme" value="0">
                                <label for="changeTheme" class="me-auto"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex gap-1 nav-btn-group align-items-center">
                    <a href="signup.html" class="primary-btn">
                        get start
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="nav-right" data-bs-target="#navbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggle-menu-icon"><span></span><span></span><span></span><span></span></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End !-->
    <div class="win-wrapper text-center" id="win-wrapper" style="background-image: url('assets/images/model-bg.svg')">
        <div class="px-3">
            <div class="winner-block">
                <img src="assets/images/deal.svg" alt="deal-done">
                <h2>Thank you</h2>
                <p>Confirmation will be sent to your email. Stay tuned for more chances to win!</p>
                <div class="product-card-wrapper text-start d-flex flex-column">
                    
                    <hr class="opacity-25">
                    
                </div>
                <a href="home" class="primary-btn d-inline-block mt-4">go to home</a>
            </div>
        </div>
    </div>
    <!-- Footer Start !-->
    <footer>
        <div class="footer-top bg-dark inner-gap">
            <div class="container">
                <div class="row gy-4 gy-lg-3">
                    <div class="col-md-12 col-lg-4">
                        <div class="footer-disc">
                            <a href="index.html" class="footer-logo">
                                <img src="assets/images/logo-white.svg" id="footerLogo" class="fThemeLogo img-fluid"
                                    alt="logo">
                            </a>
                            <p>Unlock treasures through exhilarating auctions. Your gateway to rare finds and
                                captivating experiences awaits.</p>
                            <a href="mailto:info@bidzone.com" class="h4 fw-normal text-white">support@example.com</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Sitemap</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQS</a>
                                </li>
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Categories</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="browse-bid.html">Music</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">jewellery</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">Real Estate</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">vehicle</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">Clothes</a>
                                </li>
                                <li>
                                    <a href="browse-bid.html">sports</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Navigation</h5>
                            <ul class="ps-3 widget-links">

                                <li>
                                    <a href="signup.html">my account</a>
                                </li>
                                <li>
                                    <a href="bid-history.html">Bid History</a>
                                </li>
                                <li>
                                    <a href="checkout.html">checkout</a>
                                </li>
                                <li>
                                    <a href="payment.html">payment</a>
                                </li>
                                <li>
                                    <a href="winner.html">winner</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Legal</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="cookies-policy.html">Cookies Policy</a>
                                </li>
                                <li>
                                    <a href="term-condition.html">Terms Of Service</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="my-4 my-lg-5 border-white">
                <div
                    class="d-flex flex-wrap gap-4 justify-content-center justify-content-xl-between align-items-center">
                    <ul class="footer-social-links">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="bid-number">
                        <h2><span>1,50,000</span> Bids</h2>
                        <h2><span>10,376</span> Members</h2>
                        <h2><span>8942</span> Feedbacks</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom py-2 py-md-4 bg-light">
            <p class="text-dark text-center">©
                <script>document.write(new Date().getFullYear());</script> BidZone - All Rights Reserved.
            </p>
        </div>
    </footer>