<a href="javascript:void(0)" class="back-to-top"><i class="fa-solid fa-up-long"></i></a>
<!-- Back-to-top End -->
<!-- Header Start !-->
<div class="navbar-top border-bottom py-3 d-none d-lg-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4">
                <div class="d-flex gap-2">
                    <div class="country">
                        <select name="country" class="form-control" id="country">
                            <option value="UK">
                                EN
                            </option>
                            <option value="US">
                                ES
                            </option>
                            <option value="RS">
                                RS
                            </option>
                        </select>
                    </div>
                    <div class="currency">
                        <select name="currency" class="form-control" id="currency">
                            <option value="USD">
                                USD
                            </option>
                            <option value="EUR">
                                EUR
                            </option>
                            <option value="INR">
                                INR
                            </option>
                        </select>
                    </div>
                    <div class="d-none align-items-center gap-1 nav-top-left">
                        <i class="fa-solid fa-envelope text-dark"></i>
                        <p class="fs-14 text-dark text-truncate">support.com</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                
            </div>
            <div class="col-4">
                <div class="d-flex gap-2 nav-btn-group align-items-center justify-content-end">
                    <a href="browse-bid.html" class="bg-transparent text-dark border-0 px-1">
                        <i class="fa-solid fa-search"></i>
                    </a>
                    <a href="loginClient" class="bg-transparent text-dark border-0 px-1">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <button class="bg-transparent text-dark border-0"><i class="fa-solid fa-heart"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="bg-white">
    <nav class="navbar navbar-expand-lg py-3">
        <div class="container">
            <a class="navbar-brand p-0" href="index.html">
                <img src="assets/images/ijeni.png" id="headerLogo" class="themeLogo img-fluid w-100" alt="logo">
            </a>
            <div class="nav-right justify-content-center" id="navbar">
                <ul class="navbar-nav position-relative d-none d-lg-flex">
                    <li class="nav-item">
                        <a class="nav-link text-dark active" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark active" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark active" href="Commandetous">Our Services</a>
                    </li>
                  
                  
                   

                  
                 
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="contact">Contact</a>
                    </li>
                     <li *ngIf="!isAuthenticated()" class="nav-item">
                        <a class="nav-link text-dark" href="registerclient">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="register">Devenir Prestataire</a>
                    </li>
                    <li *ngIf="isAuthenticated()" class="nav-item">
                        <a class="nav-link text-dark" href="loginClient" (click)="logout()">Logout</a>
                    </li>
                </ul>
             
            </div>



            
            <div class="d-flex gap-1 nav-btn-group align-items-center">
                <!-- <a href="registerclient" class="primary-btn">
                    Get Started
                </a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="nav-right" data-bs-target="#navbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggle-menu-icon"><span></span><span></span><span></span><span></span></span>
                </button>
            </div>
        </div>
    </nav>
</header>



<body>
    <!-- Header End !-->
    <!-- Main Content Start !-->
    <main id="main-content" class="position-relative">
    
        <section class="outer-gap">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-xl-3">
                        <button class="primary-btn d-xl-none mb-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#auction-filter-collapse" aria-expanded="false"
                            aria-controls="auction-filter-collapse">
                            filter product
                        </button>
                        <div class="collapse d-xl-block" id="auction-filter-collapse">
                            <div class="row gy-4">
                                <div class="col-sm-6 col-xl-12">
                                    <div class="auction-wrapper p-3">
                                        <div class="auction-search">
                                            <input type="search" class="form-control" placeholder="Search">
                                            <button class=""><i class="fa-solid fa-magnifying-glass"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-12">
                                    <div class="auction-wrapper p-3">
                                        <select name="shorting" class="form-control bg-transparent border-0">
                                            <option value="">Default Shorting</option>
                                            <option value="">Price Low to Heigh</option>
                                            <option value="">Price Heigh to Low </option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6 col-xl-12">
                                    <div class="auction-wrapper">
                                        <h4 class="mb-3">Products</h4>
                                        <ul class="product-list">
                                            <li>
                                                <a href="#"><span>Plomberie</span> <span>4</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Electricite</span> <span>7</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Climatisation</span> <span>18</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Menage</span> <span>7</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Tranport</span> <span>5</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"><span>Maconnerie</span> <span>22</span> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9">
                        <div class="auction-card-small">
                            <div class="row gy-4 justify-content-center">
                                <div class="col-sm-6 col-lg-4"  *ngFor="let service of services">
                                    <div class="auction-card">
                                        <div class="card-image">
                                            <img [src]="service.imageUrl" >
                                        </div>
                                        <div class="card-content">
                                            <a href="bid-detail.html" class="card-title">{{service.name}}</a>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="p-0">Price:{{service.prix}}DT</p>
                                                <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a class="primary-btn " (click)="goToCommandDetails(service.id)">Command Now</a>
                                                <button class="like-btn" ><i class="fa-regular fa-heart"></i></button>
                                            </div>
                                        </div>
                                    </div>
                               
                         
                                    </div>
                                </div>
                                <div class="col-12">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
        </section>
       
    </main>
    <!-- Main Content End !-->
    <!-- Footer Start !-->
    <footer>
        <div class="footer-top bg-dark inner-gap">
            <div class="container">
                <div class="row gy-4 gy-lg-3">
                    <div class="col-md-12 col-lg-4">
                        <div class="footer-disc">
                            <a href="index.html" class="footer-logo">
                                <img src="../assets/images/ijeni.png" id="footerLogo" class="fThemeLogo img-fluid"
                                    alt="logo">
                            </a>
                            <p>Unlock treasures through exhilarating auctions. Your gateway to rare finds and
                                captivating experiences awaits.</p>
                            <a href="mailto:info@bidzone.com" class="h4 fw-normal text-white">support.com</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Sitemap</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="blog.html">Blog</a>
                    
                                </li>
                                <li>
                                    <a href="faq.html">FAQS</a>
                                </li>
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Navigation</h5>
                            <ul class="ps-3 widget-links">
    
                                <li>
                                    <a href="signup.html">my account</a>
                                </li>
                                <li>
                                    <a href="bid-history.html">Bid History</a>
                                </li>
                                <li>
                                    <a href="checkout.html">checkout</a>
                                </li>
                                <li>
                                    <a href="payment.html">payment</a>
                                </li>
                                <li>
                                    <a href="winner.html">winner</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-widget">
                            <h5 class="widget-title">Legal</h5>
                            <ul class="ps-3 widget-links">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="cookies-policy.html">Cookies Policy</a>
                                </li>
                                <li>
                                    <a href="term-condition.html">Terms Of Service</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="my-4 my-lg-5 border-white">
                <div
                    class="d-flex flex-wrap gap-4 justify-content-center justify-content-xl-between align-items-center">
                    <ul class="footer-social-links">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="footer-bottom py-2 py-md-4 bg-light">
            <p class="text-dark text-center">©
                <script>document.write(new Date().getFullYear());</script> IJENI - All Rights Reserved.
            </p>
        </div>
    </footer>
</body>
